@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white-color: #fbecd1;
    --gray-color: #ccb68d;
    --dark-color: #5f0c20;
    --brown-color: #490012;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--white-color);
    width: 100vw;
}

header {
    z-index: 10;
    max-width: 100%;
    top: 0;
    position: sticky;
    display: flex;
    background-color: var(--dark-color);
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.275rem;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
}

header img {
    height: 75px;
}

header nav a {
    color: var(--white-color);
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 20px;
    position: relative;
}

header nav a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: all 500ms;
}

header nav a:hover::before {
    width: 100%;
}

.container {
    text-align: center;
    margin-bottom: 40px;
}

.landing-page-header {
    text-align: center;
    padding: 32px 0px;
    background-image: url("Virgen2.jpeg");
    background-size: cover;
    height: 325px;
}

.shadowed {
    font-size: 3rem;
    color: white;
    text-shadow: 
        -1px -1px 0 var(--dark-color),  
         1px -1px 0 var(--dark-color),
        -1px  1px 0 var(--dark-color),
         1px  1px 0 var(--dark-color); /* Sombras para simular el borde */
}

.content {
    padding: 20px 20px 0 20px;
}

.collapsible {
    border: dotted 2px var(--dark-color);
    width: 100%;
    text-align: left;
    font-size: 1.275rem;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
}

.collapsible input {
    display: none;
}

.collapsible label {
    font-size: 1.5rem;
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    position: relative;
    top: -100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text {
    max-height: 300px;
    opacity: 1;
    top: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.info {
    font-size: 1.5rem;
    background-color: var(--brown-color);
    text-align: center;
    color: var(--white-color);
    padding: 20px;
}

.info-boxes {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    grid-template-areas: 
        'Ubi .'
        'Ubi .';
    margin-bottom: 40px;
}

.ubicacion {
    border: 2px dotted var(--white-color);
    padding: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
    height: fit-content;
    width: fit-content;
    grid-area: Ubi;
}

.ubicacion iframe {
    width: 320px;
    height: 320px;
}

.contacto-box {
    border: 2px dotted var(--white-color);
    padding: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
    height: fit-content;
    width: fit-content;
}

.contacto-box a {
    color: var(--white-color);
    text-decoration: none;
    position: relative;
}

.contacto-box a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: all 500ms;
}

.contacto-box a:hover::before {
    width: 100%;
}

.arzobispado img{
    border-radius: 100%;
    max-height: 275px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
}

footer {
    background-color: var(--dark-color);
    padding: 50px;
    color: var(--white-color);
    font-size: 1.275rem;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color);
}

@media (max-width: 768px) {
    .landing-page-header h1 {
        font-size: 1.75rem;
    }

    .info-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}